/*
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  background: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

.cover {
  background: url(../images/2k12cr_background.jpg) no-repeat center bottom;
  background-attachment: scroll;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 100vh;
  color: #fff;
}

@media (min-width: 992px) {
  .cover {
    background-attachment: fixed;
  }
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
}

main {
  padding-top: 2rem;
}

a {
  text-decoration: none;
  color: #f05a23;
  transition: color 300ms ease;
}

a:hover {
  color: #FF7340;
}

h1,
h2,
h3 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: .5rem;
  text-align: center;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 5.063rem;
  color: #f05a23;
  font-weight: 400;
}

@media (min-width: 576px) {
  h1 {
    font-size: 7.594rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 11.391rem;
  }
}

h2 {
  font-size: 3.375rem;
}

h3 {
  font-size: 2.25rem;
}

p {
  margin-bottom: 1rem;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

section {
  margin-bottom: 2rem;
}

.banner {
  margin-bottom: 1rem;
}

.social {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 576px) {
  .social {
    display: grid;
    grid-template-columns: repeat(7, 3rem);
    grid-gap: 1rem;
  }
}

.social a {
  display: inline-block;
}

.social-entry {
  margin: 0 1rem 1rem 1rem;
}

@media (min-width: 576px) {
  .social-entry {
    margin: 0;
  }
}

.ico {
  height: auto;
  width: 3rem;
  transition: transform 300ms ease;
  display: block;
}

.ico:hover {
  transform: scale(1.2);
}

footer {
  text-align: center;
  background: #222;
  color: #fff;
  padding: 1rem 0rem;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
}

@media (min-width: 576px) {
  footer .container{
    flex-direction: row;
  }
}

.hero {
  margin-bottom: 1rem;
}

small {
  font-size: 1rem;
  font-weight: 400;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 1rem;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}

.spotify {
  width: 100%;
}