/*
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

.fullsize {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3 {
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 .5rem 0;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

h2 {
  font-size: 3.375rem;
}

h3 {
  font-size: 2.25rem;
}

p {
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

section {
  padding: 1rem 0;
}

nav {
  padding: 1rem 0;
}

.nav-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

@media (min-width: 576px) {
  .nav-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

nav h1 {
  display: none;
}

@media (min-width: 576px) {
  nav h1 {
    display: block;
    margin-bottom: 0;
    font-size: 2.25rem;
    line-height: 1;
    color: #f05a23;
  }
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 1rem;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img {
  display: block;
  width: 100%;
}

header {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 999999;
  background: #151515;
}

@media (min-width: 576px) {
  header {
    background: none;
    position: static;
  }
}

.splash {
  background: url("../images/2k12cr_background.jpg") no-repeat center center fixed;
  background-size: cover;
  background-attachment: scroll;
}

@media (min-width: 576px) {
  .splash {	
    background-attachment: fixed;	
  }	
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

@media (min-width: 576px) {
  .social {
    width: auto;
  }
}

.social li {
  margin-left: 0;
}

@media (min-width: 576px) {
  .social li {
    margin-left: 1rem;
  }
}

.social a {
  display: block;
  color: #fff;
  transition: 300ms ease color;
}

.social a:hover {
  color: #f05a23;
}

.social svg {
  height: auto;
  width: 3rem;
  display: block;
}

@media (min-width: 576px) {
  .social svg {
    width: 2rem;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
}

.orange-bg {
  background: #f05a23;
  color: #fff;
}

.music h2 {
  color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

small {
  font-size: 1rem;
}

footer {
  background: #151515;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  margin-bottom: 5rem;
}

@media (min-width: 576px) {
  footer {
    margin-bottom: 0;
  }
}
